
main{
  width: 100%;
  height: 100vh;
  background-color: #f0f2f5;
  
}
main > section{
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 120px;
  gap: 80px;
}

div > img{
  position: relative;
  left: -25px;
}

section > div:first-child{
  margin-top: 40px;
}

.connect{
  font-size: 28px;
  width: 500px;
  margin: 0px;
}
.page{
  color:black;
  font-weight: bold;
  text-decoration: none;
}
.page:hover{
  text-decoration: underline;
}

form{
  background-color: white;
  width: 396px;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: column;
  gap: 15px;

}

form > label{
  width: 100%;
}
input{
  width: 100%;
  padding: 15px;
  border-radius: 6px;
  outline: none;
  border: 1px solid gray;
}

form > button{
  cursor: pointer;
  background-color: #1877f2;
  color: white;
  padding:  12px;
  font-weight: bold;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 20px;
}

.forgot{
  text-align: center;
  margin: 0;
  padding: 15px;
  border-bottom: 1px solid lightgray;
}

.forgot > a{
  color: #1877f2;
}
.create{
  text-align: center;
  margin: 15px 0 0;
}
.create > button{
  background-color: #42b72a;
  color: white;
  border: none;
  text-align: center;
  outline: none;
  border-radius: 8px;
  padding: 14px 15px;
  font-size: 18px;
  font-weight: bold;
}
footer{
  padding: 20px 20%;
}
footer > div:first-child{
  display: flex;
  padding: 10px 0;
  gap: 10px;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
footer > div:nth-child(2){
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 15px;
  margin-bottom: 15px;
}
footer *{
  color: #8a8d91;
  font-size: 13px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer a:hover{
  text-decoration: underline;
  cursor: pointer;
}